
body {
    background-color: rgb(245, 245, 248);
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
}
#beaverContainer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: flex;
    align-items: end;
}

#beaverImage {
    cursor: pointer;
    transition: transform 0.3s ease;
}

#beaverImage:hover {
    transform: scale(1.05);
}


#clickMe {
    display: block;
    background-color: white;
    color: #333;
    text-align: center;
    padding: 5px 10px;
    margin: 0 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

#beaverFacts {
    display: none;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    max-width: 250px; /* Limit the size */
    position: relative;
    text-align: center;
    margin-top: -5px;
    visibility: visible;
}

#beaverFacts:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}